backports.functools-lru-cache==1.5
certifi==2018.10.15
chardet==3.0.4
cvlib==0.1.6
cycler==0.10.0
decorator==4.3.0
enum34==1.1.6
ffmpeg-python==0.1.16
future==0.17.1
futures==3.2.0
idna==2.7
imageio==2.4.1
kiwisolver==1.0.1
matplotlib==2.2.3
moviepy==0.2.3.5
numpy==1.15.4
opencv-python==3.4.3.18
pandas==0.23.4
Pillow==6.2.0
progressbar==2.5
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.1
scipy==1.1.0
six==1.11.0
tqdm==4.28.1
urllib3==1.24.1
